<div class="page-about" {{ section.shopify_attributes }}>
  {% if page.content != blank %}
    <section class="section"><div class="container rte">{{ page.content }}</div></section>
  {% endif %}
</div>

{% schema %}
{
  "name": "About page",
  "settings": [],
  "presets": [
    {
      "name": "About page"
    }
  ]
}
{% endschema %}
