<div class="page-street-miles" {{ section.shopify_attributes }} data-editable="component" data-component="main-page-street-miles" data-path="sections/main-page-street_miles.liquid" data-key="main_content">
  {% if page.content != blank %}
    <section class="section" data-editable="source" data-path="data/pages/street-miles.json" data-key="main_content"><div class="container rte">{{ page.content }}</div></section>
  {% endif %}
</div>

{% schema %}
{
  "name": "Street Miles page",
  "settings": [],
  "presets": [
    {
      "name": "Street Miles page"
    }
  ]
}
{% endschema %}
